<!DOCTYPE html>
<html>
<head>
    <title>FMC Visiter Graph</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="<%= rootpath %>/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="<%= rootpath %>/javascripts/counter.bundle.js" defer></script>
</head>
<body>
    <div id="ipcount"></div>
    <div id="adipcount"></div>
    <div id="loadcount"></div>
    <div id="adloadcount"></div>
    <div class="gap-flex">
        <button id="toggleAdcount"></button>
        <button id="year"></button>
        <button id="month"></button>
        <button id="last7days"></button>
    </div>
    <canvas id="myChart"></canvas>
</body>
</html>